Repository eosphoros-ai/DB-GPT, pull requests merged in 2024-06, with the labels that each got.

#1593 docs: add Japanese README
  README.ja.md
  README.md
Labels: documentation

#1592 feat(model): Support new zhipuai SDK
  dbgpt/model/proxy/llms/zhipu.py
Labels: enhancement, model

#1601 fix(model): Fix vllm new tokenizer error
  dbgpt/model/adapter/vllm_adapter.py
  dbgpt/model/llm_out/vllm_llm.py
Labels: fix, model

#1602 feat(model): Support glm-4-9b-chat
  README.ja.md
  README.md
  README.zh.md
  dbgpt/configs/model_config.py
  dbgpt/model/adapter/hf_adapter.py
Labels: enhancement, model

#1606 chore: wechat update
  assets/wechat.jpg
Labels: internal

#1612 feat(model): Support Qwen2 models
  README.ja.md
  README.md
  README.zh.md
  dbgpt/configs/model_config.py
  dbgpt/model/adapter/hf_adapter.py
Labels: enhancement, model

#1629 chore(model): Update the default model to glm-4-9b-chat
  .env.template
  dbgpt/_private/config.py
  dbgpt/agent/expand/resources/search_tool.py
  docker-compose.yml
  docker/base/run_sqlite.sh
  docker/compose_examples/cluster-docker-compose.yml
  docs/docs/installation/advanced_usage/OpenAI_SDK_call.md
  docs/docs/installation/advanced_usage/vLLM_inference.md
  docs/docs/installation/docker.md
  docs/docs/installation/model_service/cluster.md
  docs/docs/installation/model_service/stand_alone.md
  docs/docs/installation/sourcecode.md
  docs/docs/quickstart.md
  examples/agents/custom_tool_agent_example.py
  scripts/setup_autodl_env.sh
Labels: internal, model

#1632 chore:v0.5.8 tag
  assets/wechat.jpg
  dbgpt/_version.py
  dbgpt/rag/embedding/embeddings.py
  dbgpt/rag/embedding/rerank.py
  setup.py
Labels: internal

#1637 fix(rag): Fix schema linking error
  dbgpt/rag/schemalinker/schema_linking.py
Labels: fix

#1639 fix(web): sort line chart data according to time order
  web/components/chart/autoChart/advisor/pipeline.ts
  web/components/chart/autoChart/charts/multi-line-chart.ts
  web/components/chart/autoChart/charts/multi-measure-line-chart.ts
  web/components/chart/autoChart/charts/util.ts
  web/components/chart/autoChart/index.tsx
Labels: enhancement, fix, ChatDashboard, web

#1640 fix(core): Fix AWEL branch bug
  dbgpt/app/scene/operators/app_operator.py
  dbgpt/core/awel/__init__.py
  dbgpt/core/awel/flow/base.py
  dbgpt/core/awel/flow/compat.py
  dbgpt/core/awel/flow/flow_factory.py
  dbgpt/core/awel/operators/base.py
  dbgpt/core/awel/operators/common_operator.py
  dbgpt/core/awel/runner/local_runner.py
  dbgpt/core/awel/tests/test_run_dag.py
  dbgpt/core/interface/operators/llm_operator.py
  dbgpt/core/operators/__init__.py
  dbgpt/rag/embedding/rerank.py
  dbgpt/rag/operators/embedding.py
  dbgpt/serve/rag/connector.py
  docs/docs/awel/awel_tutorial/basic_syntax/2.4_branch_operator.md
  examples/awel/data_analyst_assistant.py
  examples/awel/simple_chat_history_example.py
  examples/awel/simple_llm_client_example.py
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_app.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_app.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_core.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_core.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_model.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_rag.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_rag.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_serve.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_serve.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_storage.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_storage.po
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_util.mo
  i18n/locales/zh_CN/LC_MESSAGES/dbgpt_util.po
  setup.py
Labels: fix, core

#1652 chore:wechat update
  assets/wechat.jpg
Labels: internal

#1653 feat(web): add download image function&fix null data point
  web/app/i18n.ts
  web/components/chart/autoChart/charts/util.ts
  web/components/chart/autoChart/index.tsx
  web/components/chart/helpers/downloadChartImage.ts
Labels: enhancement, web

#1552 feat(model): Support tongyi embedding
  .env.template
  dbgpt/configs/model_config.py
  dbgpt/model/adapter/embeddings_loader.py
  dbgpt/model/parameter.py
  dbgpt/rag/embedding/__init__.py
  dbgpt/rag/embedding/embeddings.py
Labels: enhancement, model

#1673 docs(agent): Add agents development guide
  dbgpt/agent/core/agent.py
  dbgpt/agent/core/base_agent.py
  dbgpt/agent/core/memory/hybrid.py
  dbgpt/agent/core/memory/long_term.py
  dbgpt/agent/core/memory/short_term.py
  dbgpt/agent/core/profile/base.py
  dbgpt/agent/core/role.py
  dbgpt/agent/expand/resources/search_tool.py
  dbgpt/agent/resource/database.py
  dbgpt/agent/resource/tool/base.py
  dbgpt/agent/resource/tool/pack.py
  dbgpt/agent/util/llm/llm_client.py
  dbgpt/rag/embedding/embeddings.py
  dbgpt/rag/retriever/time_weighted.py
  dbgpt/util/configure/base.py
  docs/docs/agents/introduction/conversation.md
  docs/docs/agents/introduction/custom_agents.md
  docs/docs/agents/introduction/database.md
  docs/docs/agents/introduction/introduction.md
  docs/docs/agents/introduction/planning.md
  docs/docs/agents/introduction/tools.md
  docs/docs/agents/modules/action/action.md
  docs/docs/agents/modules/agents_design.md
  docs/docs/agents/modules/memory/hybrid_memory.md
  docs/docs/agents/modules/memory/long_term_memory.md
  docs/docs/agents/modules/memory/memory.md
  docs/docs/agents/modules/memory/sensory_memory.md
  docs/docs/agents/modules/memory/short_term_memory.md
  docs/docs/agents/modules/plan/plan.md
  docs/docs/agents/modules/profile/profile.md
  docs/docs/agents/modules/profile/profile_creation.md
  docs/docs/agents/modules/profile/profile_dynamic.md
  docs/docs/agents/modules/profile/profile_to_prompt.md
  docs/docs/agents/modules/resource/database.md
  docs/docs/agents/modules/resource/knowledge.md
  docs/docs/agents/modules/resource/pack.md
  docs/docs/agents/modules/resource/resource.md
  docs/docs/agents/modules/resource/tools.md
  docs/docs/awel/cookbook/write_your_chat_database.md
  docs/sidebars.js
  docs/static/img/agents/introduction/agents_introduction.png
  docs/static/img/agents/introduction/agents_planning.png
  examples/sdk/simple_sdk_llm_sql_example.py
Labels: documentation, agent

#1674 chore:tag_v0.5.9
  assets/wechat.jpg
  dbgpt/_version.py
  setup.py
Labels: internal

#1672 fix: Fix bug for issue #1669
  dbgpt/app/knowledge/document_db.py
  dbgpt/app/knowledge/service.py
  dbgpt/storage/vector_store/chroma_store.py
Labels: fix

#1675 feat(model): Support gemma-2 model
  README.ja.md
  README.md
  README.zh.md
  dbgpt/configs/model_config.py
  dbgpt/model/adapter/base.py
  dbgpt/model/adapter/hf_adapter.py
  dbgpt/model/cluster/worker/default_worker.py
  dbgpt/model/llm_out/hf_chat_llm.py
Labels: enhancement, model
