Repository eosphoros-ai/DB-GPT, pull requests merged in 2025-04, with the labels that each got.

#2566 feat(agent): Compatible with MCP and tools
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/react_action.py
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/tool_action.py
  packages/dbgpt-core/src/dbgpt/agent/resource/base.py
  packages/dbgpt-core/src/dbgpt/agent/resource/pack.py
  packages/dbgpt-core/src/dbgpt/agent/resource/tool/base.py
  packages/dbgpt-core/src/dbgpt/agent/resource/tool/pack.py
  packages/dbgpt-core/src/dbgpt/util/json_utils.py
Labels: enhancement, agent

#2582 feat(agent): Support MCP authentication
  packages/dbgpt-core/src/dbgpt/agent/core/base_agent.py
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/react_action.py
  packages/dbgpt-core/src/dbgpt/agent/expand/react_agent.py
  packages/dbgpt-core/src/dbgpt/agent/resource/base.py
  packages/dbgpt-core/src/dbgpt/agent/resource/pack.py
  packages/dbgpt-core/src/dbgpt/agent/resource/tool/pack.py
  packages/dbgpt-serve/src/dbgpt_serve/agent/resource/mcp.py
Labels: enhancement, agent

#2584 feat(build): Add git for docker image
  docker/base/Dockerfile
Labels: enhancement

#2588 fix(agents): fix ReActAgent
  examples/agents/react_agent_example.py
  packages/dbgpt-core/src/dbgpt/agent/core/base_agent.py
  packages/dbgpt-core/src/dbgpt/agent/core/role.py
  packages/dbgpt-core/src/dbgpt/agent/expand/react_agent.py
Labels: fix, agent

#2591 feat(agent): Support SSL/TLS for MCP
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/react_action.py
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/tool_action.py
  packages/dbgpt-core/src/dbgpt/agent/resource/tool/pack.py
  packages/dbgpt-core/src/dbgpt/agent/util/mcp_utils.py
  packages/dbgpt-core/src/dbgpt/model/proxy/llms/chatgpt.py
  packages/dbgpt-serve/src/dbgpt_serve/agent/resource/mcp.py
Labels: enhancement, agent

#2590 fix(schema): change flow_data column type from text to longtext
  assets/schema/dbgpt.sql
  assets/schema/upgrade/v0_7_1/upgrade_to_v0.7.1.sql
  assets/schema/upgrade/v0_7_1/v0.7.0.sql
Labels: fix

#2605 fix(model): Fix apiserver error
  .pre-commit-config.yaml
  Makefile
  docker/compose_examples/ha-cluster-docker-compose.yml
  docs/docs/api/chat.md
  docs/docs/api/datasource.md
  docs/docs/api/flow.md
  docs/docs/api/introduction.md
  docs/docs/api/knowledge.md
  docs/docs/application/advanced_tutorial/api.md
  docs/docs/installation/advanced_usage/Llamacpp_server.md
  docs/docs/installation/advanced_usage/More_proxyllms.md
  docs/docs/installation/advanced_usage/OpenAI_SDK_call.md
  docs/docs/installation/advanced_usage/ollama.md
  docs/docs/installation/advanced_usage/vLLM_inference.md
  docs/docs/quickstart.md
  packages/dbgpt-accelerator/dbgpt-acc-auto/pyproject.toml
  packages/dbgpt-accelerator/dbgpt-acc-auto/src/dbgpt_acc_auto/_version.py
  packages/dbgpt-accelerator/dbgpt-acc-flash-attn/pyproject.toml
  packages/dbgpt-accelerator/dbgpt-acc-flash-attn/src/dbgpt_acc_flash_attn/_version.py
  packages/dbgpt-app/pyproject.toml
  packages/dbgpt-app/src/dbgpt_app/_version.py
  packages/dbgpt-client/pyproject.toml
  packages/dbgpt-client/src/dbgpt_client/_version.py
  packages/dbgpt-client/src/dbgpt_client/evaluation.py
  packages/dbgpt-core/pyproject.toml
  packages/dbgpt-core/src/dbgpt/_version.py
  packages/dbgpt-core/src/dbgpt/core/interface/llm.py
  packages/dbgpt-core/src/dbgpt/core/interface/message.py
  packages/dbgpt-core/src/dbgpt/core/schema/api.py
  packages/dbgpt-core/src/dbgpt/core/schema/types.py
  packages/dbgpt-core/src/dbgpt/model/cluster/apiserver/api.py
  packages/dbgpt-core/src/dbgpt/util/tracer/tracer_cli.py
  packages/dbgpt-core/src/dbgpt/util/tracer/tracer_impl.py
  packages/dbgpt-ext/pyproject.toml
  packages/dbgpt-ext/src/dbgpt_ext/_version.py
  packages/dbgpt-serve/pyproject.toml
  packages/dbgpt-serve/src/dbgpt_serve/_version.py
  pyproject.toml
  uv.lock
Labels: fix, model

#2603 feat(mode) : Adding the siliconflow embeding proxy
  configs/dbgpt-proxy-siliconflow-mysql.toml
  packages/dbgpt-ext/src/dbgpt_ext/rag/embeddings/__init__.py
  packages/dbgpt-ext/src/dbgpt_ext/rag/embeddings/siliconflow.py
Labels: enhancement

#2614 fix(storage): Fix load too many chunks error
  packages/dbgpt-core/src/dbgpt/rag/retriever/time_weighted.py
  packages/dbgpt-core/src/dbgpt/storage/base.py
  packages/dbgpt-core/src/dbgpt/storage/vector_store/base.py
  packages/dbgpt-ext/src/dbgpt_ext/rag/assembler/embedding.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/chroma_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/elastic_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/milvus_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/oceanbase_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/pgvector_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/weaviate_store.py
  packages/dbgpt-serve/src/dbgpt_serve/rag/storage_manager.py
Labels: fix

#2624 fix(docs): update doc example code to work
  docs/docs/agents/introduction/conversation.md
  docs/docs/agents/introduction/custom_agents.md
  docs/docs/agents/introduction/database.md
  docs/docs/agents/introduction/introduction.md
  docs/docs/agents/introduction/planning.md
  docs/docs/agents/introduction/tools.md
Labels: fix

#2615 fix:storage add collection bug
  packages/dbgpt-core/src/dbgpt/storage/vector_store/base.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/chroma_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/elastic_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/milvus_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/oceanbase_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/pgvector_store.py
  packages/dbgpt-ext/src/dbgpt_ext/storage/vector_store/weaviate_store.py
  packages/dbgpt-serve/src/dbgpt_serve/agent/agents/controller.py
Labels: fix

#2589 fix connect mssql embedding error
  packages/dbgpt-ext/src/dbgpt_ext/datasource/rdbms/conn_mssql.py
Labels: fix

#2644 fix(agent): Fix long-term memory error
  packages/dbgpt-core/src/dbgpt/agent/core/memory/hybrid.py
  packages/dbgpt-core/src/dbgpt/agent/resource/tool/pack.py
  packages/dbgpt-serve/src/dbgpt_serve/agent/agents/controller.py
Labels: fix, agent

#2648 fix(model): fix remote reranker api & fix long_term memory
  examples/agents/react_agent_example.py
  packages/dbgpt-core/src/dbgpt/agent/core/memory/long_term.py
  packages/dbgpt-core/src/dbgpt/model/cluster/apiserver/api.py
  packages/dbgpt-core/src/dbgpt/model/cluster/base.py
Labels: fix, model

#2629 feat(datasource):add oracle datasource
  packages/dbgpt-ext/pyproject.toml
  packages/dbgpt-ext/src/dbgpt_ext/datasource/rdbms/conn_oracle.py
  packages/dbgpt-serve/src/dbgpt_serve/datasource/manages/connector_manager.py
  tests/intetration_tests/datasource/test_conn_oracle.py
Labels: enhancement

#2653 feat: add model provider InfiniAI
  configs/dbgpt-proxy-infiniai.toml
  packages/dbgpt-core/src/dbgpt/model/proxy/__init__.py
  packages/dbgpt-core/src/dbgpt/model/proxy/llms/infiniai.py
  packages/dbgpt-core/src/dbgpt/rag/embedding/__init__.py
  packages/dbgpt-core/src/dbgpt/rag/embedding/rerank.py
Labels: enhancement

#2664 feat(model): Support Qwen3 models
  README.ja.md
  README.md
  README.zh.md
  configs/dbgpt-local-qwen3.example.toml
  docs/blog/2025-04-29-db-gpt-qwen3-support.md
  packages/dbgpt-core/pyproject.toml
  packages/dbgpt-core/src/dbgpt/core/interface/media.py
  packages/dbgpt-core/src/dbgpt/core/interface/message.py
  packages/dbgpt-core/src/dbgpt/model/adapter/base.py
  packages/dbgpt-core/src/dbgpt/model/adapter/hf_adapter.py
  packages/dbgpt-core/src/dbgpt/model/cluster/worker/default_worker.py
Labels: enhancement, model

#2654 feat(agent): The SQL execution result of the DataScientist can be passed to the next agent
  packages/dbgpt-core/src/dbgpt/agent/expand/actions/chart_action.py
Labels: enhancement, agent
